 h2 {
     font-size: 200%;
     /* Makes the text twice as large as normal */
     color: darkblue;
     /* Sets dark blue color */
     font-family: 'Times New Roman', Times, serif;
     font-style: italic;
     /* Italicizes the heading */
     font-weight: bold;
     /* Makes it bold */
     font-variant: small-caps;
     /* Converts lowercase to smaller uppercase */
 }

 /* Styles paragraph text */
 p {
     font-size: 100%;
     /* Normal size text */
     color: #333333;
     /* Dark gray color for readability */
     font-family: Arial, Helvetica, sans-serif;
     /* Clean sans-serif font */
     font-style: normal;
     font-weight: 400;
     /* Regular weight */
     font-variant: normal;
 }

 /* Styles the overall table text appearance */
 table {
     color: darkslategray;
     font-size: 100%;
     font-family: Georgia, 'Times New Roman', Times, serif;
     border-style: solid;
     border-color: navy;
     border-width: 4px 10px 12px 5px;
 }

 /* Styles table headers (<th>) with a blue monospaced font */
 th {
     color: blue;
     font-size: 100%;
     font-family: 'Courier New', Courier, monospace;
 }

 /* Styles table cells (<td>) with a dark red font */
 td {
     color: darkred;
     font-size: 100%;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
 }

 /* Styles all form text (labels, inputs, etc.) */
 form {
     color: darkgreen;
     font-size: 16px;
     font-family: Arial, Helvetica, sans-serif;
 }

ul li{
    text-decoration:underline dotted;
    color: rgb(220, 176, 74);
}

 h4 {
     display: inline-block;

 }

 pre {

     /* take space  */
     /* visibility: hidden;
             */

     display: none;
 }

 .overfl {
     border: 3px solid blue;
     padding: 20px;
     width: 200px;
     height: 200px;
     overflow: auto;
 }

 .container {
     background: black;
     padding: 10px;
     margin-top: 10px;

     /* width: 600px; */
     overflow: auto;
     height: 400px;
     display: flex;
     /*inline width as contained only*/
     justify-content: space-evenly;
     align-items: center;
     /* flex-direction:row; 
            flex-wrap: wrap; */
     flex-flow: row wrap;
     gap: 10px;
 }

 .containergrid {
     margin-top: 20px;
     width: 700px;
     height: 500px;
     background-color: antiquewhite;
     padding: 10px;
     display: grid;
     grid-template-rows: 70px 1fr 70px;
     grid-template-columns: 200px auto;
     grid-template-areas: "header header""sidebar main""footer footer";
     gap: 10px;

 }

 .containergrid div {
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .header {
     background-color: blue;
     grid-area: header;
 }

 .footer {
     background-color: aquamarine;
     grid-area: footer;
 }

 .sidebar {
     background-color: grey;
     grid-area: sidebar;
 }

 .maincontent {
     background-color: burlywood;
     grid-area: main;
 }


 .container div:hover {
     scale: 1.1;
 }

 .child1,
 .child2,
 .child3,
 .child4 {

     width: 100px;
     height: 100px;
     /* margin: 10px; */
     font-size: xx-large;
     /* text-align: center; */
     display: flex;
     align-items: center;
     justify-content: center;

 }

 .container .child1 {
     background-color: blue;
     /* flex-grow: 2; */

 }

 .container .child2 {
     background-color: yellow;
     /* flex-grow: 3; */

 }

 .container .child3 {
     background-color: pink;
     /* flex-shrink: 1; */

 }

 .container .child4 {
     background-color: green;
     /* flex-shrink: 2; */

 }

 
/* ! grid */
.gridcontainer {
    display: grid;
    height: 500px;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas: "header header""nav content""footer footer";
    gap: 10px;
    justify-content: center;
    

}

.gheader {
    background-color: #931b4a;
    grid-area: header;
}

.gfooter {
    background-color: aqua;
    grid-area: footer;
}

.gnav {
    background-color: aquamarine;
    grid-area: nav;
}

.gcontent {
    background-color: blue;
    grid-area: content;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}
.gcontent1{
    background-color: blueviolet;
}
.gaside{
    background-color: burlywood;
}