
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
body{
    background-color: whitesmoke;
}
body.dark{
    background-color: #222;
    color: #eee;
}
label{
    display: block;
    padding:7px 0;
}
.task{

    width:70%;
    padding: 10px;
    color: black;
   background-color: white;
margin: 10px;
}
.high{

   
    border-left: 4px red solid;

}
.low{

  
    border-left: 4px seagreen solid;

}

.medium{

   
    border-left: 4px orange solid;

}

input,select,textarea{
  width: 25%;
  outline: 0;
  padding: 10px;
  border: 1px rgb(5, 134, 255) solid;
  border-radius: 7px;
  margin-bottom: 5px;
}
input:focus{
 border: 1px rgb(12, 93, 170) solid;

}
button{
  border: 0;
  background-color: rgb(5, 134, 255);
  color: white;
  border-radius: 10px;
  padding:10px 20px;
}

body.dark .task{
    background-color: #333;
    color: white;
}
.filtersection{
    margin-top: 10px;
}