*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
        background-color: rgba(0, 0, 0, 0.812);
}
/* tag name selector */
header{
    display: flex;
    /* position: sticky; */
    /* top: 0; */
    justify-content: space-between;
    align-items: center;
    background-color: #931b4a;
    /* border-bottom: white 1px solid; */
    padding: 20px;
}
header h5{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
    color: white;
}
/* class use */
.links ul{
    display: flex;
    justify-content:space-between ;
    list-style: none;


}
nav.links ul li{
    margin-left: 10px;


}
nav ul li a{
    color: white;
}
a{
    text-decoration: none;
    font-size: medium;
    text-transform: capitalize;

}

nav ul li a:hover{
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 5px;
    opacity: 0.5;
    border-bottom: 2px solid orange;

}
#home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgba(0, 0, 0, 0.812); */
    padding: 20px;
    height: 60vh;
    
}
.home_text{
    line-height: 50px;
    color: white;
    margin-left: 39px;
    
}
.home_text a{
  color: white;
  text-decoration: underline ;
}
.home_image{
   margin-right: 39px;

}
hr{
margin: auto;
}
#about{

 border-top: 0;
    /* background-color: rgba(0, 0, 0, 0.726); */

    padding: 30px;
 
}
#about article{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;

}

#topskills{
    padding: 50px;
        display: flex;
    justify-content: space-around;
    align-items: center;
}
#topskills .im{
background-color: #931b4a;
padding: 40px;
position: relative;
justify-content: center;
display: flex;
align-items: center;
width: 400px;
height: 400px;
}

#topskills ul{
 font-size: 25px;
 list-style: circle;
 color: white;
}

#gallary {
    text-align: center;
    padding: 20px;
}
#gallary article{
width: 80%;
margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,200px);
    gap:20px;
}
#gallary article div{
    background-color: #931b4a;
    display: flex;
    justify-content: center;
    align-items: center;
}
#gallary div:first-child{
    grid-row: 1/3;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQi-quwmDO1KGtpRAjLxctKapFoZI_5XDueZQ&s");
    background-repeat: no-repeat;
    background-size: cover;
}
#gallary div:nth-child(6){
    grid-column: 3/5;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJS3Om1zbddHtTefNUuzXEDLl9zhLTboo1lCNFhOLSqBrUMB9um0T8bFhm6y4V_PYBmq8&usqp=CAU");
    background-repeat: no-repeat;
    background-size: cover;

}

#test_my,#livedemo,#contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    padding: 20px;
    margin-top: 30px;
}
#contact form{

    background-color: #931b4a;
    color: white;
    padding: 50px;
    border-radius: 20px;
}
#test_my div{
 width: 60%;
 font-size: large;
 color: white;
}
pre{
    background-color: black;
    color: white;
    padding: 10px;
}
footer{
    background-color: #931b4a;
    padding: 50px;
    font-size: large;
    color: white;
    line-height: 50px;
}
footer a:link{
    color: blue;
}
footer a:active{
    color: pink;
}
footer a:visited{
    color: green;
}

